.footer {
  background-color: #0042A5;
  padding: 40px 0;
  width: 100%;
  color:#fff;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-info,
.footer-contact,
.footer-list,
.social-icons,
.social-icon {
  font-size: 1.1rem;
 
}

.footer-column h5,
.social-links h3,
.services-section h3 {
  font-size: 1.5rem;
 
  margin-bottom: 15px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a,
.footer-contact a,
.social-icon {
  color:#fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-list a:hover,
.footer-contact a:hover,
.social-icon:hover {
  color: #007bff;
}

.social-links {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  color:#fff;
}



.social-icon:hover i {
  color: #007bff;
}

@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    min-width: 100%;
  }
}