/* src/index.css */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

hr {
    width: 100%;
    max-width: 90rem;
    margin: 1.5rem auto;
    border: 1px solid #a00;
}

/* Responsive CSS - Global Adjustments */
@media screen and (max-width: 1024px) {
    .container-lastest,
    .container-featured,
    hr {
        max-width: 95%;
        padding: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .container-lastest,
    .container-featured,
    hr {
        max-width: 95%;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    hr {
        margin: 1rem auto;
    }
}